<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="connstring" connectionString="Server=tcp:devloopers.database.windows.net,1433;Database=fyp;User ID=muntazir143;Password=muntazir@azure143;Encrypt=True; MultipleActiveResultSets=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
</configuration>