<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="connstring" connectionString="Data Source=fyp.c3xj3bitxrgs.us-east-2.rds.amazonaws.com, 1433;Database=fyp;User ID=muntazir143;Password=muntaziraws143; MultipleActiveResultSets=True;Connection Timeout=30;"/>
  </connectionStrings>
</configuration>